.slider-container {
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider-slide {
    display: flex;
    width: 100%;
}

.slider-btn{
    position: absolute;
    font-size: 20px;
    top: 50%;
    border-radius: 50%;
    border-width: 0px;
    background-color: #dedad9;
    opacity: 0.6;
}
.slider-btn:hover{
    background-color: #b8b8b8;
}

#left-slider-button{
    left: 2%;
}

#right-slider-button{
    right: 2%;
}