.slider-container {
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider-slide {
    display: flex;
    width: 100%;
}

.slider-nav-buttons-container{
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.slide-nav-buutton{
    background-color:#b8b8b8;
    height: 20px;
    width: 20px;
    opacity: 0.9;
    border-radius: 50%;
}

.slide-nav-buutton:hover{
    background-color:#868686;
}

.slider-btn{
    position: absolute;
    font-size: 20px;
    top: 50%;
    border-radius: 50%;
    border-width: 0px;
    background-color: #dedad9;
    opacity: 0.6;
}
.slider-btn:hover{
    background-color: #b8b8b8;
}

#left-slider-button{
    left: 2%;
}

#right-slider-button{
    right: 2%;
}