body, h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    outline: none;
}
input[type=text]{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    outline: none;
}

.breakLine{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 1px;
    
}

/* HEADER */
.headerContainer{
    display: flex;
    background-color: rgb(35, 33, 33);
    color: rgb(201, 201, 201);
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.headerButtonsContainer{
    display: flex;
    margin-left: 40px;
}


/* DETAIL NOTE */
.DetailNoteBG{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
}

.DetailNoteContainer{
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 30px;
}

.DetailNoteTitleAndColor{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px
}

#DetailNoteTitle{
    padding-left: 5px;
    width: 250px;
    font-size: 15px;
}
#colorpicker{
    width: 40px;
    height: 40px;
    right: 0px;
}

.DetailNoteContent{
    width: 100%;
    height: 200px;
}

#textContent{
    width: 290px;
    height: 100%;
    padding: 5px;
    color: black;
}

.DetailNoteButtonsContainer{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.DetailNoteButton{
    height: 30px;
    width: 60px;
    
}

/* NOTES */
.NotesContainer{
    min-height: 100vw;
    padding: 10px;
}

.NotesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}

.note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.note:hover{
    opacity: 0.8;
}

.NoteDate{
    font-size: 10px;
}

#egzampleHiddenNote{
    display: none;
}
